* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(160, 171, 175);
    height: 100vh;
    text-align: center;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header"
        "main main sidebar sidebar"
        "footer footer footer footer";
        
}
.fruits {
    grid-area: header;
    overflow: hidden;
}

.dairy {
    grid-area: main;
    overflow: hidden;
}

.snacks {
    grid-area: sidebar;
    overflow: hidden;
}

.vegetables {
    grid-area: footer;
    overflow: hidden;
}

.fruits img,
.dairy img,
.snacks img,
.vegetables img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}